@font-face {
    font-family: 'Halvar Breit Blk';
    src: url('/fonts/HalvarBreit-BlkSlanted.eot');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Blk';
    src: url('/fonts/HalvarBreit-Blk.eot');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Blk SuSlanted';
    src: url('/fonts/HalvarBreit-BlkSuSlanted.eot');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Lt';
    src: url('/fonts/HalvarBreit-Lt.eot');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Hl SuSlanted';
    src: url('/fonts/HalvarBreit-HlSuSlanted.eot');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Md';
    src: url('/fonts/HalvarBreit-Md.eot');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit XTh SuSlanted';
    src: url('/fonts/HalvarBreit-XThSuSlanted.eot');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Rg';
    src: url('/fonts/HalvarBreit-Bd.eot');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Md SuSlanted';
    src: url('/fonts/HalvarBreit-MdSuSlanted.eot');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Hl';
    src: url('/fonts/HalvarBreit-HlSlanted.eot');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Rg';
    src: url('/fonts/HalvarBreit-RgSlanted.eot');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit XBd';
    src: url('/fonts/HalvarBreit-XBd.eot');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit XTh';
    src: url('/fonts/HalvarBreit-XThSlanted.eot');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Th SuSlanted';
    src: url('/fonts/HalvarBreit-ThSuSlanted.eot');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit XBd SuSlanted';
    src: url('/fonts/HalvarBreit-XBdSuSlanted.eot');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Rg SuSlanted';
    src: url('/fonts/HalvarBreit-RgSuSlanted.eot');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit XBd';
    src: url('/fonts/HalvarBreit-XBdSlanted.eot');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Lt SuSlanted';
    src: url('/fonts/HalvarBreit-LtSuSlanted.eot');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Th';
    src: url('/fonts/HalvarBreit-Th.eot');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit XTh';
    src: url('/fonts/HalvarBreit-XTh.eot');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Rg SuSlanted';
    src: url('/fonts/HalvarBreit-BdSuSlanted.eot');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Th';
    src: url('/fonts/HalvarBreit-ThSlanted.eot');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Lt';
    src: url('/fonts/HalvarBreit-LtSlanted.eot');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Hl';
    src: url('/fonts/HalvarBreit-Hl.eot');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Md';
    src: url('/fonts/HalvarBreit-MdSlanted.eot');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Rg';
    src: url('/fonts/HalvarBreit-BdSlanted.eot');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Breit Rg';
    src: url('/fonts/HalvarBreit-Rg.eot');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}