//@import url("https://fonts.cdnfonts.com/css/satoshi");
@import '@/assets/styles/fonts.scss';

:root {
  --halvar: "Halvar Breit Hl", sans-serif;
  //--helvetica: 'HelveticaNeueCyr', sans-serif;
  --white: #fffcfc;
  --black: #2A2A2A;
  --gray: #726e8d;
  --lightGray: #5b5676;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--halvar);
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

img {
  max-width: 100%;
}

.container {
  max-width: 1600px;
  margin: auto;

}